* {
  background-color: #101828;
  color: #3565bf; 
  border-radius: 0.5vw;
}
svg {
  font: 10px sans-serif;
}
  .line {
    fill: none;
  stroke: #000;
    stroke-width: 1.5px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

